body{
    background-image: url("../images/assist1.jpg")  ;
    background-size:cover;
    width:100%;
    height:500px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */ 
    
}   